
  <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Welcome to mail </div>
        <div class="list-group list-group-flush">
          <a href="/inbox" class="list-group-item list-group-item-action bg-light">Inbox</a>
          <a href="/outbox" class="list-group-item list-group-item-action bg-light">Outbox</a>
          <a href="/trash" class="list-group-item list-group-item-action bg-light">Trash</a>
          <a href="/spam" class="list-group-item list-group-item-action bg-light">Spam</a>
          <a href="/add-data" class="list-group-item list-group-item-action bg-light">Add testing data</a>
          <a href="#" class="list-group-item list-group-item-action bg-light">About</a>
      </div>
  </div> 
