<div class="p-2 m-4 card text-white bg-dark h-100" *ngIf="from=='inbox'" >
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="btn btn-primary" (click)="delitem()">Delete</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-primary mx-2" (click)="tospam()">Move to Spam</a>
      </li>
    </ul>
  </div>  
  <div class="card-header bg-transparent border-primary">{{a.name}}</div>
    <div class="card-header bg-transparent border-primary">{{a.id}}</div>
    <div class="card-body card text-white bg-dark">
      <h5 class="card-title">Subject: {{a.subject}}</h5>
      <p class="card-text">{{a.data}}</p>
    </div>
    <div class="card-footer bg-transparent border-primary">Date: {{a.datesent}}</div>
  </div>

  <div class="p-2 m-4 card text-white bg-dark h-100" *ngIf="from=='spam'" >
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <a class="btn btn-success" (click)="delitem()">Delete</a>
        </li>
      </ul>
    </div>  
    <div class="card-header bg-transparent border-success">{{a.name}}</div>
      <div class="card-header bg-transparent border-success">{{a.id}}</div>
      <div class="card-body card text-white bg-dark">
        <h5 class="card-title">Subject: {{a.subject}}</h5>
        <p class="card-text">{{a.data}}</p>
      </div>
      <div class="card-footer bg-transparent border-success">Date: {{a.datesent}}</div>
    </div>

    <div class="p-2 m-4 card text-white bg-dark h-100" *ngIf="from=='trash'" >
      <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
          <li class="nav-item">
            <a class="btn btn-danger" (click)="delitem()">Delete</a>
          </li>
        </ul>
      </div>  
      <div class="card-header bg-transparent border-danger">{{a.name}}</div>
        <div class="card-header bg-transparent border-danger">{{a.id}}</div>
        <div class="card-body card text-white bg-dark">
          <h5 class="card-title">Subject: {{a.subject}}</h5>
          <p class="card-text">{{a.data}}</p>
        </div>
        <div class="card-footer bg-transparent border-danger">Date: {{a.datesent}}</div>
      </div>

      <div class="p-2 m-4 card text-white bg-dark h-100" *ngIf="from=='outbox'" >
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <a class="btn btn-warning text-dark font-weight-bold" (click)="delitem()">Delete</a>
            </li>
          </ul>
        </div>  
        <div class="card-header bg-transparent border-warning">{{a.name}}</div>
          <div class="card-header bg-transparent border-warning">{{a.id}}</div>
          <div class="card-body card text-white bg-dark">
            <h5 class="card-title">Subject: {{a.subject}}</h5>
            <p class="card-text">{{a.data}}</p>
          </div>
          <div class="card-footer bg-transparent border-warning">Date: {{a.datesent}}</div>
        </div>