<h1 class="mt-3 display-4 text-center">Spam</h1>
<div class="container" style="margin-top: 70px;">
    <table class="table table-hover">
      <thead>
        <tr class="bg-success text-white">
          <th>ID</th>
          <th>Name</th>
          <th>Subject</th>
          <th>Date Recieved</th>
          <th>View</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr class= "bg-dark text-white" *ngFor="let i of emails">
  
          <td>{{ i.id }}</td>
          <td> {{ i.name }}</td>
          <td> {{ i.subject}}</td>
          <td> {{ i.datesent}}</td>
          <td>
            <button class="btn btn-success text-white "  (click)="selectEmail(i)"> Show details</button>
          </td>
          
          <td>
            <button class="btn btn-success text-white" (click)= "del(i)"> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>

  </div>